<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Welcome to Admin Dashboard</h1>
  <ul>
    <li><a href="/dashboard/categories">Manage Categories</a></li>
    <li><a href="/dashboard/products">Manage Products</a></li>
    <li><a href="/dashboard/logout">Logout</a></li>
  </ul>
</body>
</html>
